/* CARD CARS */


#cars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car {
    max-width: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.car img {
    max-width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 8px 8px 0px 0px;
}

button {
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button a{
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #555;
}

.carDetailContainer {
    display: none;
    transition: max-height 0.3s ease;
    padding: 20px;
}
